.moviePic{
	height:500px;
	width:500px;
	opacity:0.99;
	padding:20px;
	margin:40px;
}
.movieDetail{
	position:center;
	width:400px;
	text-align:justify;
	font-size:20px;
	margin:20px;
	padding:20px;
}